[defaults]
host_key_checking = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ProxyCommand="AWS_SHARED_CREDENTIALS_FILE=/mnt/c/Users/Admin/.aws/credentials /usr/local/bin/aws ssm start-session --target %h --document-name AWS-StartSSMSession --parameters portNumber=%p --region us-east-1"
